@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
}
@section banner{
    <h1>Home</h1>
}
<blockquote>This is the homepage for the <strong>Forms and Razor project.</strong></blockquote>
@section footer{
<p>This is something that would appear in the footer block on the layout page</p>}

