@{
    //any variable within the opening codeing block is global to the
    //  page

    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise 2";
    var searcharg = Request.Form["SearchArg"];
    var thebutton = Request.Form["FormButton"];
    var db = Database.Open("CDB");
    //var querycommand = @"SELECT CategoryID, CategoryName
    //    FROM Categories
    //    ORDER BY CategoryName";
    // var datainfo = db.Query(querycommand);
    var partialstring = "%" + searcharg + "%";
    var querycommand = @"SELECT ArtistId
FROM Artists
WHERE Name like @0";
    var datainfo = db.QuerySingle(querycommand, searcharg);
}

@section banner{
    <h1>CPSC1517 Exercise 2</h1>

    <blockquote>
       Ian Hugya
    </blockquote>
}

@if (IsPost)
{
    //any variable within the IsPost coding block dies at the end
    //   of the coding block
    searcharg = Request.Form["SearchArg"];
    //did the user actually make a category selection??
    if (thebutton.Equals("Clear"))
    {
        searcharg = "";

    }
    else if (searcharg.Equals("0"))
    {
        <p><span style="color:dodgerblue">Select a artist for which to search .</span></p>
    }
    else if (datainfo == null)
    {
        <p><span style="color:dodgerblue">No artist found for the name: @searcharg</span></p>
        //optionally, consider empting your result output fields
        searcharg = "";
        
    }
    else
    {
        //pass data to another page
        //use the Response structure with the .Redirect() method
        //syntax
        //Response.Redirect("relative page name[?label=value[&label=value]]")
        

        Response.Redirect("Exercise2Page2.cshtml?artist=" + partialstring);
    }
}


<form id="theForm" method="post">
    <div class="col-md-6">
        <label for="SearchArg" id="label1">Enter an Artist:</label>
        <input type="text" id="SearchArg" name="SearchArg" value="@searcharg"
               placeholder="Artist" />
        <br />
        <input type="submit" id="FormButton" name="FormButton"
               class="btn btn-primary" value="Submit" />&nbsp;&nbsp;
        <input type="submit" id="FormButton" name="FormButton"
               class="btn" value="Clear" />
    </div>

</form>