@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Multi Record WebGrid";
    var thebutton = Request.Form["FormButton"];
    //retrieve the passed data value(s);
    //use the .QueryString structure of the Request
    //syntax
    //Request.QueryString["passeddatalabel"]
    //if not label specified is on the url, the result will be null
    //data is pass as a string
    var artist = "";
    var partialstring = "%" + Request.QueryString["artist"] + "%";
    //test to see if you actually received a value
    if (string.IsNullOrEmpty(partialstring))
    {
        Response.Redirect("Exercise2Page1.cshtml");
    }

    var db = Database.Open("CDB");
    var querycommand = @"SELECT ArtistId, Name
FROM Artists
WHERE Name like @0
ORDER BY Name
";
    var categoryquery = @"SELECT ArtistId, Name
FROM Artists
WHERE Name like @0
ORDER BY Name";
    var categorylist = db.Query(categoryquery, partialstring);
    var datainfo = db.Query(querycommand, partialstring);

    //var queryCategory = @"SELECT CategoryName
    //                      FROM Categories
    //                      WHERE CategoryID = @0";
    //var categoryname = db.QueryValue(queryCategory, cid);

    //WebGrid is an object
    //you need to create an inastance of the object
    //The "default" constructor for WebGrid needs to be given the data set
    //to control page size, specific the page size as you create your instance
    var gridinstance = new WebGrid(datainfo, rowsPerPage: 10);

}
@section banner{
    <h1>Exercise 2 </h1>

    <blockquote>
       Ian Hugya
    </blockquote>
}
@if (IsPost)
{
    //any variable within the IsPost coding block dies at the end
    //   of the coding block
    var choice = Request.Form["CategoryList"];
    //did the user actually make a category selection??
    if (choice.Equals("0"))
    {
        <p><span style="color:dodgerblue">Select a category for which to search products.</span></p>
    }
    else
    {
        //pass data to another page
        //use the Response structure with the .Redirect() method
        //syntax
        //Response.Redirect("relative page name[?label=value[&label=value]]")
        Response.Redirect("ViewPage1.cshtml?cid=" + choice);
    }
}

        <form id="theForm" method="post">
            <div class="col-md-offset-3">
                <label for="ArtistList" id="CategoryListLabel">
                    Select the artist to view:
                </label>&nbsp;
                <select id="CategoryList" name="CategoryList">
                    <option value="0">select ...</option>
                    @foreach (var rowitem in datainfo)
                    {
                        <option value="@rowitem.ArtistID">@rowitem.Name</option>
                    }
                </select>&nbsp;
                <input type="submit" id="FormButton" name="FormButton"
                       class="btn btn-primary" value="Submit" />
            </div>
        </form>


